---
import "../css/style.css"
---
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta name="google-site-verification" content="zhOLN7elZTrCl0bO4wrCCEGV1_NOL2sBJrvD6XPVoFI" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li class="blog">
						<a href ="/blog">BLOG</a>
					</li>
					<li>
						ACERCA DE
					</li>

				</ul>
			</nav>
		</header>
		<main>
			<section>
				
			</section>
		</main>
		<footer>
		</footer>
	</body>
</html>
