header{
	display:flex;
	width:100vw;
	justify-content:center;

}
li{
	display:inline-flex;
	list-style:none;
	font-weight:bold;
	font-size:30px;

}
.blog{
	color:blue;
	padding:10px 3px 3px 0px;
	margin:10px 30px 3px 0px;
}
a{
	text-decoration:none;
}

